@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 9.4%;
    --foreground: 0 0% 100%;
    --card: 0 0% 9.4%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 9.4%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 95% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 100% 41%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15.8%;
    --muted-foreground: 0 0% 56.1%;
    --accent: 0 0% 15.8%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15.8%;
    --input: 0 0% 15.8%;
    --ring: 240 95% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#181818] text-white font-inter antialiased;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}